<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0 minimal-ui"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.0/css/mdb.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.0/js/mdb.min.js"></script>
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="https://www.amcharts.com/lib/4/maps.js"></script>
    <script src="https://www.amcharts.com/lib/4/geodata/usaLow.js"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body class="grey darken-4">
        <!-- As a link -->
    <nav class="navbar navbar-dark special-color z-depth-0 text-left">
        <img style="height: 2.5rem;" src="{% static 'logob.svg' %}" class="pr-4">
        <a class="navbar-brand mr-auto py-0 my-0" href="#" style="font-family: biohazard;">Coronawatch.se</a>
        <h6 class="text-white text-uppercase">Senast uppdaterad: </h6><h4 class="ml-1 text-uppercase text-white"><strong>Idag 11:51</strong></h4>
    </nav>
    <div class="row mx-lg-0">
        <div class="col-sm-12 col-lg-2 pr-0">
            <div class="card grey darken-4 h-100 border-dark mx-sm-0 my-2 z-depth-0">
                <div class="card-header text-white special-color-dark text-center">
                    Totalt antal fall
                </div>
                <div class="card-body text-center text-danger special-color">
                    <h1>140</h1>
                    <hr>
                    <h2 class="text-white">+45</h2>
                    <h6 class="text-muted">(senaste 24h)</h6>
                </div>

                <div class="card-header mt-3 text-white special-color-dark text-center">
                    Fall per region
                </div>
                <div class="card-body text-danger special-color">
                    <table class="table table-sm table-borderless">
                        <tr>
                            <td class="text-white text-uppercase">Stockholm:</td>
                            <td style="text-align: right !important;" class="text-danger"><strong>81</strong></td>
                        </tr>
                        <tr>
                            <td class="text-white text-uppercase">Västra Götaland:</td>
                            <td style="text-align: right !important;" class="text-danger"><strong>14</strong></td>
                        </tr>
                        <tr>
                            <td class="text-white text-uppercase">Skåne:</td>
                            <td style="text-align: right !important;" class="text-danger"><strong>17</strong></td>
                        </tr>
                        <tr>
                            <td class="text-white text-uppercase">Värmland:</td>
                            <td style="text-align: right !important;" class="text-danger"><strong>13</strong></td>
                        </tr>
                        <tr>
                            <td class="text-white text-uppercase">Jönköpings län:</td>
                            <td style="text-align: right !important;" class="text-danger"><strong>8</strong></td>
                        </tr>
                        <tr>
                            <td class="text-white text-uppercase">Uppsala:</td>
                            <td style="text-align: right !important;" class="text-danger"><strong>5</strong></td>
                        </tr>
                        <tr>
                            <td class="text-white text-uppercase">Örebro län:</td>
                            <td style="text-align: right !important;" class="text-danger"><strong>1</strong></td>
                        </tr>
                        <tr>
                            <td class="text-white text-uppercase">Gävleborg:</td>
                            <td style="text-align: right !important;" class="text-danger"><strong>1</strong></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-7 px-2" >
            <div class="card border-dark mx-lg-0 my-2 z-depth-0 h-100">
                <div class="card-header text-white special-color-dark text-center">
                    Utveckling
                </div>
                <div class="card-body text-center text-danger special-color">
                    <div id="chartdiv"></div>
                    <p class="text-muted">Källa: ECDC, European Centre for Disease Prevention and Control</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-3 pl-0" >
            <div class="card border-dark mr-lg-1 my-2 z-depth-0 h-100">
                <div class="card-header text-white special-color-dark text-center">
                    Senaste nytt
                </div>
                <div class="card-body special-color">
                    <table class="table table-sm text-white">
                        <tbody>
                            {% for case in cases %}
                            <tr>
                                <td>{{ case.infected }}</td>
                                <td>{{ case.location }}</td>
                                <td>{{ case.date|date:"D d M Y" }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-sm-12">
            <div class="card border-dark mx-lg-0 my-3 z-depth-0 h-100">
                <div class="card-header text-white special-color-dark text-center">
                    Nya fall per dag
                </div>
                <div class="card-body text-center text-danger special-color">
                    <div id="bar_chart"></div>
                    <table class="table table-borderless table-sm">
                        <tbody>
                            <tr>
                                <th scope="row" class="text-white">Datum</th>
                                <td class="text-white">6e Mars</td>
                                <td class="text-white">7e Mars</td>
                                <td class="text-white">8e Mars</td>
                                <td class="text-white">9e Mars</td>
                                <td class="text-white">10e Mars</td>
                                <td class="text-white">11e Mars</td>
                                <td class="text-white">12e Mars</td>
                                <td class="text-white">13e Mars</td>
                                <td class="text-white">14e Mars</td>
                                <td class="text-white">15e Mars</td>
                                <td class="text-white">16e Mars</td>
                                <td class="text-white">17e Mars</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-white">Prognos</th>
                                <td class="text-danger">72</td>
                                <td class="text-danger">137</td>
                                <td class="text-danger">200</td>
                                <td class="text-danger">291</td>
                                <td class="text-danger">425</td>
                                <td class="text-danger">620</td>
                                <td class="text-danger">904</td>
                                <td class="text-danger">1320</td>
                                <td class="text-danger">1924</td>
                                <td class="text-danger">2807</td>
                                <td class="text-danger">4094</td>
                                <td class="text-danger">5000+</td>
                            </tr>
                            <tr style="font-size: 20px;">
                                <th scope="row" class="text-white">Utfall</th>
                                <td class="text-warning">94</td>
                                <td class="text-warning">137</td>
                                <td class="text-muted">-</td>
                                <td class="text-muted">-</td>
                                <td class="text-muted">-</td>
                                <td class="text-muted">-</td>
                                <td class="text-muted">-</td>
                                <td class="text-muted">-</td>
                                <td class="text-muted">-</td>
                                <td class="text-muted">-</td>
                                <td class="text-muted">-</td>
                                <td class="text-muted">-</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="text-muted">Prognosen bygger på en kurva anpassad på en exponeniell funktion anpassat på utvecklingen i andra länder som fått
                        ett utbrott.</p>
                </div>
            </div>
        </div>
    </div>


</body>
<script>
am4core.ready(function() {

    // Themes begin
    am4core.useTheme(am4themes_dark);
    // Themes end
    var data = {{ data|safe }}

    createLineChart(data);
    createMapChart(data[8]);

    function createLineChart(data){

        // Create chart instance
        var chart = am4core.create("chartdiv", am4charts.XYChart);

        // Create axes
        var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

        var land = {
                1: 'Kina',
                2: 'Iran',
                3: 'Italien',
                4: 'Sydkorea',
                5: 'Frankrike',
                6: 'Tyskland',
                7: 'Spanien',
                8: 'Sverige',
        }

        for (var i = 1; i < 9; i++) {
          createSeries("value" + i, land[i], data[i], i);
        }

        createPrognosis("value" + i, land[8], data[8], 8);

        // Create series
        function createSeries(s, name, data_row, j) {
            var series = chart.series.push(new am4charts.LineSeries());
            series.dataFields.valueY = "value" + s;
            series.dataFields.dateX = "date";
            series.name = name;

            for (var i = 0; i < data_row.length; i++) {
              value = data_row[i];

              var seriesdate = new Date(2020, 2, (i-3) +1)
              var today = new Date();
              var dataItem = {date: seriesdate, value: value };
              dataItem["value" + s] = value;

                  if(value != 0){

                      if(j == 8){
                          if(seriesdate <= today){
                              console.log(j, seriesdate, today, seriesdate<today);
                              data.push(dataItem);
                          }
                      }else if(j != 8){

                          data.push(dataItem);

                      }

                  }

            }

            series.data = data;
            return series;
        }

        function createPrognosis(s, name, data_row, j){
            var series = chart.series.push(new am4charts.LineSeries());
            series.dataFields.valueY = "value" + s;
            series.dataFields.dateX = "date";
            series.name = name;

            if(j==8){
                series.strokeDasharray = "5,4";
                series.name = 'Prognos för sverige';
            }

            for (var i = 0; i < data_row.length; i++) {
              value = data_row[i];
              var seriesdate = new Date(2020, 2, (i-3) +1)
              var today = new Date();
              var dataItem = {date: seriesdate, value: value };
              dataItem["value" + s] = value;

                  if(value != 0){
                      if(j == 8){
                          if(seriesdate >= today){
                              data.push(dataItem);
                          }
                      }
                  }
            }
            series.data = data;
            return series;
        }

        chart.legend = new am4charts.Legend();
        chart.legend.position = "bottom";
        chart.legend.scrollable = true;

        chart.cursor = new am4charts.XYCursor();
        chart.cursor.xAxis = dateAxis;

        var scrollbarX = new am4core.Scrollbar();
        scrollbarX.marginBottom = 20;
        chart.scrollbarX = scrollbarX;
        chart.mouseWheelBehavior = "none";

    }


function createMapChart(data){
    var chart = am4core.create("bar_chart", am4charts.XYChart);

    var chart_data = [];

    for (var i = 0; i < data.length; i++) {
      value = data[i];
      var today = new Date();
      var seriesdate = new Date(2020, 2, i+1);

      if(seriesdate<today){
          var dataItem = {date: seriesdate,  value: value};
          chart_data.push(dataItem);
      }
    }

    // Create axes
    var dateAxis = chart.xAxes.push(new am4charts.DateAxis());

    var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

    // Create series
    var series = chart.series.push(new am4charts.ColumnSeries());

    series.dataFields.valueY = "value" ;
    series.dataFields.dateX = "date";
    series.name = name;

    series.data = chart_data;




    series.columns.template.tooltipText = "{dateX}: [bold]{valueY}[/] Nya smittade";
    series.columns.template.fillOpacity = .85;

    var columnTemplate = series.columns.template;
    columnTemplate.strokeWidth = 2;
    columnTemplate.strokeOpacity = 1;

    }
}); // end am4core.ready()
</script>

<style media="screen">
    #chartdiv, .chartdiv {
      width: 100%;
      height: 500px;
    }

    html, body {
        max-width: 100%;
        overflow-x: hidden;
        font-family: Avenir-Light !important;
    }
</style>

</html>
