<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0 minimal-ui"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160071660-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-160071660-1');
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="https://www.amcharts.com/lib/4/maps.js"></script>
    <script src="https://www.amcharts.com/lib/4/geodata/usaLow.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    </script>
    {% load static %}
    <script rel="{% static 'swe.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-grid.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>Coronawatch: {{ total }} (+ {{new_cases}} nya fall)</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.0/css/mdb.min.css" rel="stylesheet">

    <meta property="og:title" content="Coronawatch.se" />
    <meta property="og:description" content="Utvecklingen av CoVid-19 i Sverige"/>
    <meta property="og:type" content="Senaste prognos" />
    <meta property="og:url" content="https://www.coronawatch.se/" />
    <meta property="og:image" content="static/graph2.png" />
</head>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Om modellen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Modellen använder sig av en såkallad SEQIJR-modell med 6 olika stadier: <br>
        S - Suspectibles <br>
        E - Exposed <br>
        Q - Quarantined <br>
        I - Infective <br>
        J - Isolated <br>
        R - Recovered <br>
        <br>
        Du kan justera parametrarna för att avgöra flödena mellan de olika stadierna. Du kan även justera
        andelen av populationen som beblandas. När du ser att kurvorna passar mätpunkterna kan du förlänga modellen
        in i framtiden för att få en prognos. <br>
        <br>
        Modellen ska inte tolkas som en absolut sanning utan enbart ett verktyg för att förstå epidemisk spridning och
        enkelt få återkoppling på hur ändringar i beteende eller smittsamhet påverkar spridningen över tid.
        <br>
        För den som vill läsa mer finns modellen publicerad på GITHUB här: <br>
        <br>
        <a href="https://github.com/robinsandstrom/SEQJIR/">SEQIJR</a>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Stäng</button>
      </div>
    </div>
  </div>
</div>

<body class="grey lighten-4">
        <!-- As a link -->
    <nav class="navbar py-2 navbar-dark blue-grey z-depth-0 text-left">
        <img style="height: 2.5rem;" src="{% static 'virus_cw.svg' %}" class="pr-4">
        <a class="navbar-brand mr-auto py-0 my-0" href="/" style="font-family: biohazard;">coronawatch.se</a>
        <h6 class="text-white text-uppercase pr-1">Senast uppdaterad: </h6><h4 class="ml-1 text-uppercase text-white"><strong>{{ last_updated }}</strong></h4>
    </nav>
    <div class="row mx-lg-1 mx-sm-2" style="min-height: 95vh;">
        <div class="col-sm-6">
            <h1 id="ro" style="display: inline-block;" class="pr-2"</h1>
            <h1 id="rc" style="display: inline-block;"></h1>
        </div>
        <div class="col-sm-6 my-0">
            <button type="button" class="mt-4 py-0 btn-sm btn btn-info float-right z-depth-0" data-toggle="modal" data-target="#exampleModal">
              Om modellen
            </button>
        </div>
        <div class="col-sm-12 col-lg-3 my-sm-4">
            <div class="card border-light mx-sm-0 my-2 z-depth-0">
                <div class="card-body">
                    <h4 class="">Parametrar</h4>
                    <hr>
                    <table>
                        <tr>
                            <td><label for="N" class="text-muted">Population factor(0-1)</label></td>
                            <td><input type="text" id="N" class="form-control form-control-sm" value="0.8"></td>
                        </tr>
                        <tr>
                            <td><label for="pi" class="text-muted">Inflow</label></td>
                            <td><input type="text" id="pi" class="form-control form-control-sm" value="0"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><hr></td>
                        </tr>
                        <tr>
                            <td><label for="b" class="text-muted">Infectiousness</label></td>
                            <td><input type="text" id="b" class="form-control form-control-sm" value="0.64"></td>
                        </tr>
                        <tr>
                            <td><label for="e_E" class="text-muted">Asymptomatic infectiousness</label></td>
                            <td><input type="text" id="e_E" class="form-control form-control-sm" value="0.5"></td>
                        </tr>
                        <tr>
                            <td><label for="e_Q" class="text-muted">Quarantined infectiousness</label></td>
                            <td><input type="text" id="e_Q" class="form-control form-control-sm" value="0.1"></td>
                        </tr>
                        <tr>
                            <td><label for="e_J" class="text-muted">Isolated infectiousness</label></td>
                            <td><input type="text" id="e_J" class="form-control form-control-sm" value="0.9"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><hr></td>
                        </tr>
                        <tr>
                            <td><label for="g_1" class="text-muted">Rate of quarantine</label></td>
                            <td><input type="text" id="g_1" class="form-control form-control-sm" value="0"></td>
                        </tr>
                        <tr>
                            <td><label for="g_2" class="text-muted">Rate of isolation infective cases</label></td>
                            <td><input type="text" id="g_2" class="form-control form-control-sm" value="0.5"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><hr></td>
                        </tr>
                        <tr>
                            <td><label for="s_1" class="text-muted">Recovery rate, infective cases</label></td>
                            <td><input type="text" id="s_1" class="form-control form-control-sm" value="0.5"></td>
                        </tr>
                        <tr>
                            <td><label for="s_2" class="text-muted">Recovery rate, isolated cases</label></td>
                            <td><input type="text" id="s_2" class="form-control form-control-sm" value="0.5"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><hr></td>
                        </tr>
                        <tr>
                            <td><label for="k_1" class="text-muted">Symptom development rate</label></td>
                            <td><input type="text" id="k_1" class="form-control form-control-sm" value="0.4"></td>
                        </tr>
                        <tr>
                            <td><label for="k_2" class="text-muted">Symptom development rate in Quarantine</label></td>
                            <td><input type="text" id="k_2" class="form-control form-control-sm" value="0"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><hr></td>
                        </tr>
                        <tr>
                            <td><label for="d_1" class="text-muted">Deathrate infective cases</label></td>
                            <td><input type="text" id="d_1" class="form-control form-control-sm" value="0"></td>
                        </tr>
                        <tr>
                            <td><label for="d_2" class="text-muted">Deathrate isolated cases</label></td>
                            <td><input type="text" id="d_2" class="form-control form-control-sm" value="0.004"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><hr></td>
                        </tr>
                        <tr>
                            <td><label for="p_days" class="text-muted">Days in future to calculate</label></td>
                            <td><input type="text" id="p_days" class="form-control form-control-sm" value="0"></td>
                        </tr>
                        <tr>
                            <td><label for="country" class="text-muted">Country:</label></td>
                            <td>
                                <select id="country">
                                  <option value="Denmark">Denmark</option>
                                  <option value="Finland">Finland</option>
                                  <option value="France">France</option>
                                  <option value="Germany">Germany</option>
                                  <option value="Italy">Italy</option>
                                  <option value="Netherlands">Netherlands</option>
                                  <option value="Norway">Norway</option>
                                  <option value="Sweden" selected>Sweden</option>
                                  <option value="South Korea">South Korea</option>
                                  <option value="Spain">Spain</option>
                                  <option value="United_Kingdom">United Kingdom</option>
                                  <option value="United_States_of_America">United States</option>
                                  <option value="Switzerland">Switzerland</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <div class="text-center my-2">
                        <button class="btn text-center z-depth-0 text-muted" type="button" name="button" id="calc">Calculate</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-9 my-sm-4">
            <div class="card border-light mx-sm-0 my-2 z-depth-0">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-4">
                            <h1>Graf 1</h1>
                        </div>
                        <div class="col-md-8">
                            <select id="graph_1_mp" class="float-right">
                              <option value="cases_confirmed" selected>Confirmed cases (I)</option>
                              <option value="deaths_confirmed">Confirmed deaths (J)</option>
                              <option value="no_measurement">No measurement</option>
                            </select>
                            <select id="graph_1_display" class="float-right">
                              <option value="infective">Infective (I)</option>
                              <option value="intensive_care">Intensive Care (IC)</option>
                              <option value="hospital_care">Hospital Care (HC)</option>
                              <option value="isolated">Isolated (J)</option>
                              <option value="susceptibles">Suspectibles (S)</option>
                              <option value="exposed">Exposed (E)</option>
                              <option value="removed">Accumulated recovered (R)</option>
                              <option value="accumulated_isolated">Accumulated Isolated (AJ)</option>
                              <option value="accumulated_isolated_infective" selected>Accumulated Isolated+Infective (AJI)</option>
                              <option value="accumulated_deaths">Accumulated Deaths (AD)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="graph_1" class="chartdiv" style="height: 400px;"></div>
                </div>
            </div>
            <div class="card border-light mx-sm-0 my-2 z-depth-0">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-4">
                            <h1>Graf 2</h1>
                        </div>
                        <div class="col-md-8">
                            <select id="graph_2_mp" class="float-right">
                              <option value="cases_confirmed">Confirmed cases (I)</option>
                              <option value="deaths_confirmed" selected>Confirmed deaths (J)</option>
                              <option value="no_measurement">No measurement</option>
                            </select>
                            <select id="graph_2_display" class="float-right">
                              <option value="infective">Infective (I)</option>
                              <option value="intensive_care">Intensive Care (IC)</option>
                              <option value="hospital_care">Hospital Care (HC)</option>
                              <option value="isolated">Isolated (J)</option>
                              <option value="susceptibles">Suspectibles (S)</option>
                              <option value="exposed">Exposed (E)</option>
                              <option value="removed">Accumulated recovered (R)</option>
                              <option value="accumulated_isolated">Accumulated Isolated (AJ)</option>
                              <option value="accumulated_isolated_infective">Accumulated Isolated+Infective (AJI)</option>
                              <option value="accumulated_deaths" selected>Accumulated Deaths (AD)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="graph_2" class="chartdiv" style="height: 400px;"></div>

                </div>
            </div>
        </div>

    </div>

</body>
<script type="text/javascript">
am4core.ready(function() {

    // Themes begin
    am4core.useTheme(am4themes_animated);
    // Create chart instance
    var chart = am4core.create("graph_1", am4charts.XYChart);
    var chart2 = am4core.create("graph_2", am4charts.XYChart);
    var sum_data;

    $('#calc').click(function() {
        loadNewData();
    });

    $('#graph_1_mp').on('change', function() {
        measurement_1 = $(this).val();
        populateGraph1();
    });

    $('#graph_2_mp').on('change', function() {
        measurement_2 = $(this).val();
        populateGraph2();
    });

    $('#graph_1_display').on('change', function() {
        display_1 = $(this).val();
        populateGraph1();
    });

    $('#graph_2_display').on('change', function() {
        display_2 = $(this).val();
        populateGraph2();
    });

    loadNewData();

    var health_cap = $('#health_cap').val();

    var colors = ['#4285F4', '#2BBBAD', '#2BBBAD', '#fb8c00', '#ef6c00', '#CC0000', '#ff8f00', '#ffeb3b'];

    var display_1 = $('#graph_1_display').val();
    var measurement_1 = 'cases_confirmed';

    var display_2 = $('#graph_2_display').val();
    var measurement_2 = 'deaths_confirmed';


    function reloadData(params){
        $.ajax({
                type: "GET",
                url: '/api/get_curve',
                data: params,
                cache: true,
                success: fetchSuccess,
                dataType: 'json',
            });
        }

    function fetchSuccess(Data, textStatus, jqXHR){
        sum_data = Data;
        populateGraph1();
        populateGraph2();
        updateR();
    }

    function updateR(){
        console.log('updateing R');
        $('#rc').text('RC:'+ sum_data['key_figures']['RC'].toFixed(2))
        $('#ro').text('RO:'+ sum_data['key_figures']['R0'].toFixed(2)  + ' | ')
    }

    $(document).on('keypress',function(e) {
        if(e.which == 13) {
            loadNewData();
        }
    });

    function populateGraph1(){
        data = [];

        var measured_points = sum_data[measurement_1];
        var measured_dates = sum_data['dates_measured'];

        for(var i=0; i < measured_points.length; i++){
            m =  ({
                    'ax': new Date(Date.parse(measured_dates[i])),
                    'ay': measured_points[i]
            })
            data.push(m)
        }


        var display_points = sum_data[display_1];
        var dates_prognosis = sum_data['dates_prognosis'];

        for(var i=0; i < display_points.length; i++){
            m =  ({
                    'dx': new Date(Date.parse(dates_prognosis[i])),
                    'dy': display_points[i]
            })
            data.push(m)
        }
        chart.data = data;
    }

    function populateGraph2(){
        data = [];

        var measured_points = sum_data[measurement_2];
        var measured_dates = sum_data['dates_measured'];

        for(var i=0; i < measured_points.length; i++){
            m =  ({
                    'ax': new Date(Date.parse(measured_dates[i])),
                    'ay': measured_points[i]
            })
            data.push(m)
        }


        var display_points = sum_data[display_2];
        var dates_prognosis = sum_data['dates_prognosis'];

        for(var i=0; i < display_points.length; i++){
            m =  ({
                    'dx': new Date(Date.parse(dates_prognosis[i])),
                    'dy': display_points[i]
            })
            data.push(m)
        }
        chart2.data = data;
    }

    function getParams(){
        var p = {};
        var No = $('#N').val()
        var pi  = $('#pi').val()
        var b = $('#b').val()
        var e_E = $('#e_E').val()
        var e_Q = $('#e_Q').val()
        var e_J = $('#e_J').val()
        var g_1 = $('#g_1').val()
        var g_2 = $('#g_2').val()
        var s_1 = $('#s_1').val()
        var s_2 = $('#s_2').val()
        var k_1 = $('#k_1').val()
        var k_2 = $('#k_2').val()
        var d_1 = $('#d_1').val()
        var d_2 = $('#d_2').val()
        var p_days = $('#p_days').val()
        var country = $('#country').val()
        return {
            'N': No,
            'pi': pi,
            'b': b,
            'e_E': e_E,
            'e_Q': e_Q,
            'e_J': e_J,
            'g_1': g_1,
            'g_2': g_2,
            's_1': s_1,
            's_2': s_2,
            'k_1': k_1,
            'k_2': k_2,
            'd_1': d_1,
            'd_2': d_2,
            'p_days': p_days,
            'country' : country,
        }
    }

    function loadNewData() {
        params = getParams();
        reloadData(params);
    }

    // Create axes
    var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
    chart.numberFormatter.numberFormat = "#,###.";

    dateAxis.baseInterval = {
      "timeUnit": "minute",
      "count": 1
    };
    dateAxis.tooltipDateFormat = "d MMMM";


    var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
    dateAxis.renderer.grid.template.disabled = true;

    // Create series
    var series = chart.series.push(new am4charts.LineSeries());
    series.dataFields.valueY = "dy";
    series.dataFields.dateX = "dx";
    series.strokeWidth = 2;
    series.fillOpacity = 0.1;
    series.tooltipText = "{dy}";
    series.tooltip.pointerOrientation = "vertical";
    series.tooltip.background.fillOpacity = 0.5;
    series.tooltip.label.padding(12,12,12,12)


    // Create series
    var measurepoints = chart.series.push(new am4charts.LineSeries());
    measurepoints.dataFields.valueY = "ay";
    measurepoints.dataFields.dateX = "ax";
    measurepoints.strokeOpacity = 0;
    measurepoints.tooltipText = "Mätvärde: {ay}";
    measurepoints.tooltip.pointerOrientation = "vertical";
    measurepoints.tooltip.background.fillOpacity = 0.5;
    measurepoints.tooltip.label.padding(12,12,12,12)

    // Add a bullet
    var bullet = measurepoints.bullets.push(new am4charts.Bullet());

    // Add a triangle to act as am arrow
    var arrow = bullet.createChild(am4core.Triangle);
    arrow.horizontalCenter = "middle";
    arrow.verticalCenter = "middle";
    arrow.strokeWidth = 1;
    arrow.strokeOpacity = 1;
    arrow.stroke = chart.colors.getIndex(0);
    arrow.fillOpacity = 1;
    arrow.direction = "top";
    arrow.width = 8;
    arrow.height = 8;

    dateAxis.start = 0;
    //dateAxis.end = 0.05;
    valueAxis.start = 0;
    valueAxis.end = 0.000001;
    dateAxis.keepSelection = true;

    // Add scrollbar
    chart.scrollbarX = new am4charts.XYChartScrollbar();
    chart.scrollbarX.series.push(series);
    // Add vertical scrollbar
    chart.scrollbarY = new am4core.Scrollbar();
    chart.scrollbarY.marginLeft = 0;
    // Add cursor
    chart.cursor = new am4charts.XYCursor();
    chart.cursor.xAxis = dateAxis;


    // Create axes
    var dateAxis = chart2.xAxes.push(new am4charts.DateAxis());
    dateAxis.renderer.grid.template.disabled = true;
    dateAxis.baseInterval = {
      "timeUnit": "minute",
      "count": 1
    };
    dateAxis.tooltipDateFormat = "d MMMM";


    var valueAxis = chart2.yAxes.push(new am4charts.ValueAxis());
    chart2.numberFormatter.numberFormat = "#,###.";

    // Create series
    var series = chart2.series.push(new am4charts.LineSeries());
    series.dataFields.valueY = "dy";
    series.dataFields.dateX = "dx";
    series.strokeWidth = 2;
    series.tooltipText = "{dy}";
    series.tooltip.pointerOrientation = "vertical";
    series.tooltip.background.fillOpacity = 0.5;
    series.tooltip.label.padding(12,12,12,12)

    // Create series
    var measurepoints = chart2.series.push(new am4charts.LineSeries());
    measurepoints.dataFields.valueY = "ay";
    measurepoints.dataFields.dateX = "ax";
    measurepoints.strokeOpacity = 0;
    measurepoints.tooltipText = "Mätvärde: {ay}";
    measurepoints.tooltip.pointerOrientation = "vertical";
    measurepoints.tooltip.background.fillOpacity = 0.5;
    measurepoints.tooltip.label.padding(12,12,12,12)

    // Add a bullet
    var bullet = measurepoints.bullets.push(new am4charts.Bullet());

    // Add a triangle to act as am arrow
    var arrow = bullet.createChild(am4core.Triangle);
    arrow.horizontalCenter = "middle";
    arrow.verticalCenter = "middle";
    arrow.strokeWidth = 1;
    arrow.strokeOpacity = 1;
    arrow.stroke = chart.colors.getIndex(0);
    arrow.fillOpacity = 1;
    arrow.direction = "top";
    arrow.width = 8;
    arrow.height = 8;

    dateAxis.start = 0;
    //dateAxis.end = 0.05;
    valueAxis.start = 0;
    valueAxis.end = 0.000001;
    dateAxis.keepSelection = true;


    // Add scrollbar
    chart2.scrollbarX = new am4charts.XYChartScrollbar();
    //chart2.scrollbarX.position = 'bottom';
    chart2.scrollbarX.series.push(series);
    // Add vertical scrollbar
    // Add vertical scrollbar
    chart2.scrollbarY = new am4core.Scrollbar();
    chart2.scrollbarY.marginLeft = 0;
    // Add cursor
    chart2.cursor = new am4charts.XYCursor();
    chart2.cursor.xAxis = dateAxis;


    }); // end am4core.ready()
</script>
