<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0 minimal-ui"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.0/css/mdb.min.css" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160071660-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-160071660-1');
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="https://www.amcharts.com/lib/4/maps.js"></script>
    <script src="https://www.amcharts.com/lib/4/geodata/usaLow.js"></script>
    {% load static %}
    <script rel="{% static 'swe.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>Coronawatch: {{ total }} (+ {{new_cases}} nya fall)</title>

    <meta property="og:title" content="Coronawatch.se" />
    <meta property="og:description" content="Utvecklingen av CoVid-19 i Sverige"/>
    <meta property="og:type" content="Senaste prognos" />
    <meta property="og:url" content="https://www.coronawatch.se/" />
    <meta property="og:image" content="static/graph2.png" />
</head>


<body style="background-color: #f4f3ef;" >
        <!-- As a link -->
    <nav class="navbar py-0 navbar-dark special-color z-depth-0 text-left">
        <img style="height: 2.5rem;" src="{% static 'logob.svg' %}" class="pr-4">
        <a class="navbar-brand mr-auto py-0 my-0" href="/" style="font-family: biohazard;">Coronawatch.se</a>
        <h6 class="text-white text-uppercase pr-1">Senast uppdaterad: </h6><h4 class="ml-1 text-uppercase text-white"><strong>{{ last_updated }}</strong></h4>
    </nav>
    <div class="row mx-lg-1 mx-sm-2" style="min-height: 95vh;">
        <div class="col-sm-12 col-lg-3 my-sm-4">
            <div class="card mx-sm-0 my-2 z-depth-0">
                <div class="card-body">
                    <table>
                        <tr>
                            <td><label for="alpha">Alpha (>0)</label></td>
                            <td><input type="text" id="alpha" class="form-control" value="0.00048828125"></td>
                        </tr>
                        <tr>
                            <td><label for="gamma">Gamma (>0)</label></td>
                            <td><input type="text" id="gamma" class="form-control" value="0.8912509381337456"></td>
                        </tr>
                        <tr>
                            <td><label for="theta">Theta (>0)</label></td>
                            <td><input type="text" id="theta" class="form-control" value="0.1083984375"></td>
                        </tr>
                        <tr>
                            <td><label for="a">a</label></td>
                            <td><input type="text" id="a" class="form-control" value="0.05"></td>
                        </tr>
                        <tr>
                            <td><label for="f">f</label></td>
                            <td><input type="text" id="f" class="form-control" value="0.95"></td>
                        </tr>
                        <tr>
                            <td><label for="p_days">P</label></td>
                            <td><input type="text" id="p_days" class="form-control" value="0"></td>
                        </tr>
                        <tr>
                            <td><label for="health_cap">P</label></td>
                            <td><input type="text" id="health_cap" class="form-control" value="500"></td>
                        </tr>
                        <tr>
                            <td><label for="country">Välj land:</label></td>
                            <td>
                                <select id="country">
                                  <option value="Sweden" selected>Sweden</option>
                                  <option value="Italy">Italy</option>
                                  <option value="Denmark">Denmark</option>
                                  <option value="Norway">Norway</option>
                                  <option value="South Korea">South Korea</option>
                                  <option value="Germany">Germany</option>
                                  <option value="France">France</option>
                                  <option value="Spain">Spain</option>
                                  <option value="Netherlands">Netherlands</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <div class="text-center my-2">
                        <button class="btn text-center z-depth-0" type="button" name="button" id="calc">Beräkna</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-9 my-sm-4">
            <div class="card mx-sm-0 my-2 z-depth-0">
                <div class="card-body">
                    <div id="chartdiv" class="chartdiv" style="height: 500px;"></div>

                </div>
            </div>
        </div>

    </div>

</body>
<script type="text/javascript">
am4core.ready(function() {

    // Themes begin
    am4core.useTheme(am4themes_animated);
    // Create chart instance
    var chart = am4core.create("chartdiv", am4charts.XYChart);

    $('#calc').click(function() {
        loadNewData();
    });

    loadNewData();

    var health_cap = $('#health_cap').val();

    var colors = ['#4285F4', '#2BBBAD', '#2BBBAD', '#fb8c00', '#ef6c00', '#CC0000', '#ff8f00', '#ffeb3b'];

    function reloadData(params){
        $.ajax({
                type: "GET",
                url: '/api/get_curve',
                data: params,
                cache: true,
                success: fetchSuccess,
                dataType: 'json',
            });
        }

    function fetchSuccess(Data, textStatus, jqXHR){
        chart.data = Data;
    }

    function getParams(){
        var p = {};
        var alpha = $('#alpha').val();
        var gamma = $('#gamma').val();
        var theta = $('#theta').val();
        var f = $('#f').val();
        var a = $('#a').val();
        var p_days = $('#p_days').val();
        var country = $('#country').val();
        var health_cap = $('#health_cap').val();
        return {
            'alpha': alpha,
            'a': a,
            'f': f,
            'gamma': gamma,
            'theta': theta,
            'p_days': p_days,
            'country' : country,
            'health_cap': health_cap,
        }
    }

    function loadNewData() {
        params = getParams();
        reloadData(params);
    }
    // Add data
    chart.data = [];

    // Create axes
    var valueAxisX = chart.xAxes.push(new am4charts.ValueAxis());
    valueAxisX.title.text = 'X Axis';

    // Create value axis
    var valueAxisY = chart.yAxes.push(new am4charts.ValueAxis());
    valueAxisY.title.text = 'Y Axis';
    //valueAxisY.logarithmic = true;

    valueAxisX.renderer.grid.template.disabled = true;
    valueAxisY.renderer.grid.template.disabled = true;

    // Create series
    var lineSeries = chart.series.push(new am4charts.LineSeries());
    lineSeries.dataFields.valueY = "ay";
    lineSeries.dataFields.valueX = "ax";
    lineSeries.strokeOpacity = 0;

    var lineSeries2 = chart.series.push(new am4charts.LineSeries());
    lineSeries2.dataFields.valueY = "by";
    lineSeries2.dataFields.valueX = "bx";
    lineSeries2.strokeOpacity = 1;
    lineSeries2.fillOpacity = 0.1;
    lineSeries2.fill = am4core.color(colors[1]); // red

    // Create a range to change stroke for values below 0
    var range = valueAxisY.createSeriesRange(lineSeries2);
    range.value = health_cap;
    range.endValue = 100000000;
    range.contents.stroke = chart.colors.getIndex(4);
    lineSeries2.fill = am4core.color(colors[5]); // red
    range.contents.strokeOpacity = 0.7;
    range.contents.fillOpacity = 0.5;


    var med_cap = chart.series.push(new am4charts.LineSeries());
    med_cap.dataFields.valueY = "cy";
    med_cap.dataFields.valueX = "cx";
    med_cap.strokeOpacity = 1;

    // Add a bullet
    var bullet = lineSeries.bullets.push(new am4charts.Bullet());

    // Add a triangle to act as am arrow
    var arrow = bullet.createChild(am4core.Circle);
    arrow.horizontalCenter = "middle";
    arrow.verticalCenter = "middle";
    arrow.strokeWidth = 0;
    arrow.fill = chart.colors.getIndex(0);
    arrow.direction = "top";
    arrow.width = 12;
    arrow.height = 12;

    chart.scrollbarX = new am4core.Scrollbar();
    chart.scrollbarY = new am4core.Scrollbar();

    }); // end am4core.ready()
</script>
