@font-face {
  font-family: BioHazard;
  src: local('safety'),
       url('/static/safety.otf') format("truetype");
}

@font-face {
  font-family: Avenir-Light;
  src: local('safety'),
       url('/static/Avenir-Light.otf') format("truetype");
}

@font-face {
  font-family: Avenir-Regular;
  src: local('safety'),
       url('/static/Avenir-Regular.otf') format("truetype");
}

@font-face {
  font-family: Avenir-Bold;
  src: local('safety'),
       url('/static/Avenir-Bold.otf') format("truetype");
}
