@font-face {
  font-family: BioHazard;
  src: local('safety'),
       url('/static/safety.otf') format("truetype");
}

#chartdiv, .chartdiv {
  width: 100%;
  height: 500px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}


.row-flex {
  display: flex;
  flex-wrap: wrap;
}
